.contacts
  a.contact(href="tel:+380501111111")
    i.fa.fa-mobile.contact__icon(aria-hidden="true")
    span.contact__text 0501111111
  a.contact(href="mailto:info@business.co")
    i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
    span.contact__text info@business.co
  a.facebook-icon(href="facebook.com")
    i.fa.fa-facebook(aria-hidden="true")
